name: pull-runner

on:
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout target repo
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Checkout tests
        uses: actions/checkout@v3
        with:
          repository: 'store-electronics-and-household/store-backend'
          ref: ${{ github.event.pull_request.head.ref }}
          path: tests
      - name: Check and Build application
        run: |
          cp -rf ./tests/checkstyle.xml ./checkstyle.xml
          cp -rf ./tests/suppressions.xml ./suppressions.xml
          mvn install -P check --no-transfer-progress
          docker-compose build